* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

.top-section {
  height: 4.5rem;
  background-color: #5624d0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-section p {
  color: #fff;
  font-size: 12px;
  padding: 0 1.2rem;
  width: 95%;
  text-align: center;
}
.top-section img {
  width: 25px;
  height: 25px;
}
.top-section span {
  font-weight: bold;
}
/* header */

header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}
.hamburger.header-icon {
  display: block;
}
.udemy-logo {
  padding: 0 5rem;
  height: 2.5rem;
}

.udemy-logo img {
  height: inherit;
}
.header-icon {
  width: 25px;
  height: 25px;
}
header a {
  display: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color: inherit;
}
header a:hover {
  color: #5624d0;
}
.search-box {
  border: 2px solid #000;
  width: 40%;
  height: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 2rem;
  background-color: rgb(213, 225, 239, 0.2);
}
input {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 0 1rem;
  background-color: transparent;
}

.btn {
  display: none;
  padding: 1rem;
  width: 8%;
  font-size: 17px;
  font-weight: bold;
}

.header-icon-mobile {
  display: block;
}

.world-icon-btn.special {
  display: none;
}

/* FIRST SECTION */
.section1 {
  height: 45rem;
}

#advert-img-text {
  background-color: #fff;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  padding: 1rem;
}

.clock-img {
  width: 100%;
  height: 15rem;
}

div .big-text {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 1rem;
}
div .normal-text {
  font-size: 15px;
  /* background-color: rgb(213, 225, 239, 0.2); */
  color: #698f9c;
}

.request-btn {
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
  padding: 0.7rem 0.3rem;
  font-size: 15px;
}
.next-icon-div {
  display: none;
}

/* First Section End */

/* SECOND SECTION */
.section2 {
  margin-top: -18rem;
  height: fit-content;
  padding: 1rem 2rem;
}
.section2-search-box {
  border: 2px solid #698f9c;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
}
input {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 1rem;
  background-color: transparent;
}

.section2 h1 {
  font-size: 23px;
}
.section2 p {
  font-size: 20px;
  padding: 1rem 0;
  width: 100%;
  color: #698f9c;
}

/* SECTION 3 */
.section3 {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 20rem;
}
.section3 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  border-bottom: 0.3px solid #698f9c;
  border-top: 0.3px solid #698f9c;
}
.section3 ul li {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 0.3px solid #698f9c;
  font-size: 22px;
}

.section3 ul li:last-child {
  border-bottom: none;
}
.section3 ul li a {
  display: block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
.section3-advert {
  display: none;
}

/* SECTION 3 END*/

/* SECTION 4 */
.section4 {
  height: 40rem;
  background-color: rgba(191, 193, 194, 0.1);
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.section4 h1 {
  padding: 1rem 2rem;
  font-size: 28px;
}

.section4 .section4-learner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  gap: 1rem;
}

.section4 .section4-learner-wrapper div {
  background-color: #fff;
  width: 22rem;
  padding: 1rem;
}

.section4 .section4-learner-wrapper div img {
  width: 25px;
  margin: 1rem 0;
}
.section4 .section4-learner-wrapper div .WA {
  width: 8rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section4 .section4-learner-wrapper div p {
  font-size: 20px;
}

.section4 .section4-learner-wrapper div p span {
  font-weight: bold;
}

.section4 .section4-learner-wrapper div .WA .WA-child {
  width: 40%;
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}

.section4 .section4-learner-wrapper div .play-section4 {
  /* display: flex; */
  width: 100%;
  color: #5624d0;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #698f9c;
}
.section4 .section4-learner-wrapper div .play-section4 img {
  width: 50px;
}
.section4 .section4-learner-wrapper div .play-section4 p {
  padding: 0 0.1rem;
}
/* SECTION 4 END*/

/* SECTION 5 */

.section5 {
  height: 40rem;
  background-color: #fff;
  padding: 1rem 2rem;
  width: 100%;
}
.section5 h1 {
  font-size: 25px;
}

.section5 .student-viewing-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 40rem;
  /* background-color: #000; */
}
.section5 .student-viewing-wrapper .viewing-student {
  display: flex;
  width: 20rem;
  padding: 1rem;
  font-size: 13px;
  font-weight: bold;
}

.section5 .student-viewing-wrapper .viewing-student img {
  height: 90px;
  width: 100px;
}

.section5 .student-viewing-wrapper .viewing-student .section5-para-section {
  margin-left: 5px;
}

.section5
  .student-viewing-wrapper
  .viewing-student
  .section5-para-section
  .section5-para2 {
  color: goldenrod;
  font-size: 22px;
}

.section5
  .student-viewing-wrapper
  .viewing-student
  .section5-para-section
  .section5-para2 {
  color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section5
  .student-viewing-wrapper
  .viewing-student
  .section5-para-section
  .section5-para2
  img {
  width: 15px;
  height: 15px;
}

.section5
  .student-viewing-wrapper
  .viewing-student
  .section5-para-section
  p
  span {
  color: #8bacd9;
  font-size: 14px;
  margin-left: 0.5px;
}

.section5
  .student-viewing-wrapper
  .viewing-student
  .section5-para-section
  button {
  color: #000;
  background-color: gold;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.3rem;
}
/* SECTION 5 END*/

/* FOOTER */
footer {
  background-color: #1c1d1f;
  color: #fff;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1.5rem;
}
.footer-top-div {
  display: flex;
  flex-direction: column-reverse;
}
footer div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer div ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 100%;
}

footer div ul li {
  width: 100%;

  margin-bottom: 1rem;
}

footer div ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

footer div ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.udemy-logodark {
  width: 10rem;
  height: 5rem;
}
footer div button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: fit-content;
  height: 4rem;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 2rem;
}

.web-logo {
  width: 22px;
  margin-right: 5px;
}

footer div p {
  text-align: left;
}

/* Laptop*/
@media (min-width: 1024px) {
  body {
    font-family: sans-serif;
  }

  .top-section {
    height: 4.5rem;
    background-color: #5624d0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-section p {
    color: #fff;
    font-size: 16px;
    padding: 0 1.2rem;
    width: 95%;
    text-align: center;
  }
  .top-section img {
    width: 25px;
    height: 25px;
  }
  .top-section span {
    font-weight: bold;
  }
  /* HEADER */
  header {
    display: flex;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    color: #000;
  }

  header .udemy-logo {
    padding: 0;
  }
  .hamburger.header-icon {
    display: none;
  }
  .header-icon {
    display: block;
    width: 25px;
    height: 25px;
  }
  header a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: inherit;
  }
  header a:hover {
    color: #5624d0;
  }
  .search-box {
    border: 2px solid #000;
    width: 35%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    border-radius: 2rem;
    background-color: rgb(213, 225, 239, 0.2);
  }
  header ul li .search-box input {
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 1rem;
    background-color: transparent;
  }

  .btn {
    display: block;
    padding: 0.7rem;
    margin-left: 0.5rem;
    font-size: 12px;
    font-weight: bold;
  }

  .btn:hover {
    opacity: 0.7;
  }

  .login-btn {
    background-color: #fff;
    color: #000;
  }
  .signup-btn {
    background-color: #000;
    color: #fff;
  }

  .world-icon-btn {
    background-color: #fff;
    height: 2.5rem;
    width: 2.5rem;
  }

  .header-icon-mobile {
    display: none;
  }

  .world-icon-btn.special {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* HEADER END */

  /* FIRST SECTION */

  #advert-img-text {
    background-color: #fff;
    width: 31rem;
    position: relative;
    left: 3rem;
    top: -27rem;
    padding: 2rem;
  }

  .clock-img {
    width: 100%;
    height: 28rem;
  }

  div .big-text {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  div .normal-text {
    font-size: 18px;
    color: #698f9c;
  }

  .request-btn {
    background-color: #000;
    color: #fff;
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    font-size: 15px;
  }
  .next-icon-div {
    width: 100%;
    display: flex;
    padding: 0 2rem;
    height: 3rem;
    justify-content: space-between;
    position: relative;
    bottom: 35rem;
  }
  .next-icon-div img {
    background-color: white;
    border-radius: 50%;
  }

  /* FIRST SECTION END*/

  /* SECOND SECTION */
  .section2 {
    margin-top: -15rem;
    height: -3rem;
    padding: 1rem 2rem;
  }
  .section2 h1 {
    font-size: 30px;
  }
  .section2 p {
    font-size: 30px;
    padding: 2rem 0;
    width: 70rem;
    color: #698f9c;
  }

  .section2 .section2-search-box {
    display: none;
  }
  /* SECOND SECTION END*/

  /* THIRD SECTION */
  .section3 {
    display: flex;
  }

  .section3 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    border-bottom: none;
    border-top: none;
    padding-left: 1rem;
    width: 70rem;
  }
  .section3 ul li {
    width: 100%;
    padding: 0;
    border-bottom: none;
  }
  .section3 ul li a {
    display: block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
  }
  .section3-advert {
    display: none;
  }

  /* SECTION 3 END*/
  /* THIRD SECTION END */

  /* FOOTER */
  footer {
    background-color: #1c1d1f;
    color: #fff;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
  }
  .footer-top-div {
    display: flex;
    flex-direction: row;
  }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer div ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 60rem;
  }

  footer div ul li {
    width: 15rem;
    max-width: 15rem;
    margin-bottom: 1rem;
  }

  footer div ul li a {
    font-size: 18px;
  }

  footer div ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .udemy-logodark {
    width: 10rem;
    height: 5rem;
  }
  footer div button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 4rem;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
  }

  .web-logo {
    width: 30px;
    margin-right: 5px;
  }

  footer div p {
    text-align: right;
  }
  /* FOOTER END*/
}

/* Tablet */
@media (min-width: 577px) and (max-width: 769px) {
  .top-section {
    height: 4.5rem;
    background-color: #5624d0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-section p {
    color: #fff;
    font-size: 17px;
    padding: 0 1.2rem;
    width: 95%;
    text-align: center;
  }
  .top-section img {
    width: 25px;
    height: 25px;
  }
  .top-section span {
    font-weight: bold;
  }
  /* header */

  header {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
  }
  .hamburger.header-icon {
    display: block;
  }
  .udemy-logo {
    padding: 0 12rem;
    height: 2.5rem;
  }

  .udemy-logo img {
    height: inherit;
  }
  .header-icon {
    width: 25px;
    height: 25px;
  }
  header ul li a {
    display: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: inherit;
  }
  header ul li a:hover {
    color: #5624d0;
  }
  .search-box {
    border: 2px solid #000;
    width: 40%;
    height: 4rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    border-radius: 2rem;
    background-color: rgb(213, 225, 239, 0.2);
  }
  input {
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 0 1rem;
    background-color: transparent;
  }

  .btn {
    display: none;
    padding: 1rem;
    width: 8%;
    font-size: 17px;
    font-weight: bold;
  }

  .header-icon-mobile {
    display: block;
  }

  .world-icon-btn.special {
    display: none;
  }
  /* HEAD END */

  /* FIRST SECTION */

  #advert-img-text {
    background-color: #fff;
    width: 21rem;
    position: relative;
    left: 3rem;
    top: -19rem;
    padding: 2rem;
  }

  .clock-img {
    width: 100%;
    height: 21rem;
  }

  div .big-text {
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  div .normal-text {
    font-size: 12px;
    color: #698f9c;
  }

  .request-btn {
    background-color: #000;
    color: #fff;
    margin-top: 2rem;
    padding: 0.8rem 0.3rem;
    font-size: 16px;
  }
  .next-icon-div {
    display: none;
  }

  /* FIRST SECTION END*/

  /* SECOND SECTION */
  .section2 {
    margin-top: -23rem;
    height: -7rem;
    padding: 1rem 2rem;
  }
  .section2 h1 {
    font-size: 25px;
  }
  .section2 p {
    font-size: 25px;
    padding: 1rem 0;
    width: 40rem;
    color: #698f9c;
  }

  .section2 .section2-search-box {
    display: none;
  }

  /* SECTION3 */
  .section3 {
    display: flex;
  }
  .section3 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    border-bottom: none;
    border-top: none;
    padding-left: 1rem;
    width: 40rem;
  }
  .section3 ul li {
    width: 100%;
    padding: 0;
    border-bottom: none;
  }
  .section3 ul li a {
    display: block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
  }
  .section3-advert {
    display: none;
  }

  /* FOOTER */
  footer {
    background-color: #1c1d1f;
    color: #fff;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
  }
  .footer-top-div {
    display: flex;
    flex-direction: row;
  }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer div ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 60rem;
  }

  footer div ul li {
    width: 10rem;
    max-width: 10rem;
    margin-bottom: 1rem;
  }

  footer div ul li a {
    font-size: 15px;
  }

  footer div ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .udemy-logodark {
    width: 10rem;
    height: 5rem;
  }
  footer div button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: fit-content;
    height: 4rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  .web-logo {
    width: 22px;
    margin-right: 5px;
  }

  footer div p {
    text-align: right;
  }
}
/* Tablet  End */
