* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.top-section {
  height: 4.5rem;
  background-color: #5624d0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-section p {
  color: #fff;
  font-size: 12px;
  padding: 0 1.2rem;
  width: 95%;
  text-align: center;
}
.top-section img {
  width: 25px;
  height: 25px;
}
.top-section span {
  font-weight: bold;
}
/* header */

header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}
.hamburger.header-icon {
  display: block;
}
.udemy-logo {
  padding: 0 5rem;
  height: 2.5rem;
}

.udemy-logo img {
  height: inherit;
}
.header-icon {
  width: 25px;
  height: 25px;
}
header a {
  display: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color: inherit;
}
header a:hover {
  color: #5624d0;
}
.search-box {
  border: 2px solid #000;
  width: 40%;
  height: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 2rem;
  background-color: rgb(213, 225, 239, 0.2);
}
input {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 0 1rem;
  background-color: transparent;
}

.btn {
  display: none;
  padding: 1rem;
  width: 8%;
  font-size: 17px;
  font-weight: bold;
}

.header-icon-mobile {
  display: block;
}

.world-icon-btn.special {
  display: none;
}

/* FIRST SECTION */
.section1 {
  height: 45rem;
}

#advert-img-text {
  background-color: #fff;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  padding: 1rem;
}

.clock-img {
  width: 100%;
  height: 15rem;
}

div .big-text {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 1rem;
}
div .normal-text {
  font-size: 15px;
  background-color: rgb(213, 225, 239, 0.2);
  color: #698f9c;
}

.request-btn {
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
  padding: 0.7rem 0.3rem;
  font-size: 15px;
}
.next-icon-div {
  display: none;
}

/* First Section End */

/* SECOND SECTION */
.section2 {
  margin-top: -18rem;
  height: fit-content;
  padding: 1rem 2rem;
}
.section2-search-box {
  border: 2px solid #698f9c;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
}
input {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 1rem;
  background-color: transparent;
}

.section2 h1 {
  font-size: 23px;
}
.section2 p {
  font-size: 20px;
  padding: 1rem 0;
  width: 100%;
  color: #698f9c;
}

/* SECTION 3 */
.section3 {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 20rem;
}
.section3 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.section3 ul li {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid #698f9c;
  border-top: 0.3px solid #698f9c;
}
.section3 ul li a {
  display: block;
  font-size: 14px;
}
/* SECTION 3 END*/

/* FOOTER */
footer {
  background-color: #1c1d1f;
  color: #fff;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1.5rem;
}
.footer-top-div {
  display: flex;
  flex-direction: column-reverse;
}
footer div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer div ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 100%;
}

footer div ul li {
  width: 100%;

  margin-bottom: 1rem;
}

footer div ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

footer div ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.udemy-logodark {
  width: 10rem;
  height: 5rem;
}
footer div button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: fit-content;
  height: 4rem;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 2rem;
}

.web-logo {
  width: 22px;
  margin-right: 5px;
}

footer div p {
  text-align: left;
}
