/* header */
.top-section p {
  color: #fff;
  font-size: 17px;
  padding: 0 1rem;
  width: 95%;
  text-align: center;
}
.hamburger.header-icon {
  display: block;
}
.udemy-logo {
  padding: 0 12rem;
  height: 2.5rem;
}

.udemy-logo img {
  height: inherit;
}
.header-icon {
  width: 25px;
  height: 25px;
}
a {
  display: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color: inherit;
}
a:hover {
  color: #5624d0;
}
.search-box {
  border: 2px solid #000;
  width: 40%;
  height: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 2rem;
  background-color: rgb(213, 225, 239, 0.2);
}
input {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 0 1rem;
  background-color: transparent;
}

.btn {
  display: none;
  padding: 1rem;
  width: 8%;
  font-size: 17px;
  font-weight: bold;
}

.header-icon-mobile {
  display: block;
}

.world-icon-btn.special {
  display: none;
}
/* HEAD END */

/* FIRST SECTION */
.section1 {
}

#advert-img-text {
  background-color: #fff;
  width: 21rem;
  position: relative;
  left: 3rem;
  top: -19rem;
  padding: 2rem;
}

.clock-img {
  width: 100%;
  height: 21rem;
}

div .big-text {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 1rem;
}
div .normal-text {
  font-size: 15px;
  color: #698f9c;
}

.request-btn {
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
  padding: 1rem 0.5rem;
  font-size: 18px;
}
/* FIRST SECTION END*/
